#include "Shared.xcconfig"

// TODO: Replace placeholders with your production project values.
SUPABASE_URL = https:/$()/kbkrnzneceroxerupwzn.supabase.co
SUPABASE_PUBLISHABLE_KEY = sb_publishable_hJtuPUhm8OeQeKGM_pPSQg_tgk3fovV
BACKEND_URL = https:/$()/sakhismritika.space
APP_ENVIRONMENT = Production
